.details-card {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 15%;
    height: auto;
    background-color: aliceblue;
}


.prev-arrow,
.next-arrow {
    color: darkblue;
    /*padding: 100px 20px;*/
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px;
    /*height: 100vh;*/

}

.button-div {
    display: flex;
    justify-content: space-between;
}

.details-out-layer {
    display: flex;
    justify-content: space-between;
    /*top: 50px;*/
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}