#searchPokemon {
    padding: 10px;
    /*margin-bottom: 20px;*/
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#searchPokemon::placeholder {
    color: #ccc;
}


select {
    padding: 10px;
    font-size: 16px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-size: 16px;
    margin-left: 10px;
    color:antiquewhite;
}

.searchBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    justify-content: center;
}

.details-card {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 20%;
    height: auto;
    background-color: aliceblue;
}


.prev-arrow,
.next-arrow {
    color: darkblue;
    /*padding: 100px 20px;*/
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px;
    /*height: 100vh;*/

}

.button-div {
    display: flex;
    justify-content: space-between;
}

.details-out-layer {
    display: flex;
    justify-content: space-between;
    /*top: 50px;*/
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #282c34;
    justify-content: center;
    margin: 20px 0px;
    flex-direction: column;
}

.pokemon-show {
    margin: 2%;
}

.pokemon-img {
    width: 200px;
    height: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pokemon-img:hover {
    background-color: cornflowerblue;
    transform: scale(1.05);
}

.pokemon-name {
    font-family: Monospace;
    font-size: 20px;
    color: antiquewhite;
}

.modal {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*inset: 40px;*/
    /*border: 1px solid rgb(204, 204, 204);*/
    /*background: rgb(255, 255, 255);*/
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.display-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*.button-div {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.closeBtn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.prev-arrow,
.next-arrow {
    color: darkblue;
    /*padding: 100px 20px;*/
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.gallery-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;

}

.pokemon-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #282c34;
    justify-content: center;
    margin: 20px 0px;
    /*flex-direction: column;*/
}

.pokemon-search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #282c34;
    justify-content: center;
    margin: 20px 0px;
    flex-direction: column;
}

.loading {
    color:aliceblue;
    font-size: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



.btn {
    position: relative;
    min-width: 200px;
    background-color: black;
    border-radius: 4em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
    padding: 10px 20px;
}
.btn:hover {
    background-color: #3A3A3A;
    color: white;
    transition-duration: 0.2s;
}

.btn.active {
    background-color: #174f86;
    color: #fff;
    /*opacity: 1;*/
    transition: 0s;
    box-shadow: 0 0 0 0 white;
    top: 1px;
}


.searchResult{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dividing {
    min-height: 2px;
    background-color: cadetblue;
    z-index: 1;
}